html{
    font-size: 62,5%;
}

body{
    box-sizing: border-box;
}

.line{
    width: 400px;
    /* height: 500px; */
    position: relative;
    margin: 30px auto;
    
}

.line::before {
    content: '';
    width: 100%;
    height: 5px;
    background: green;
    position: absolute;
}

.line-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
}

/* .line-text{
    width: 80%;
    height: 50%;
    display: block;
    margin: 20px auto;
    position: relative;
}

.fa-star{
    width: 200px;
    height: 50px;
    color: yellowgreen;
    margin-left: 550px;
    margin-top: 20px;
}

.line-text::before{
    content: '';
    width: 15rem;
    height: 0.5rem;
    background-color: yellowgreen;
    position: absolute;
    top: 42px;
    left: 274px;
}
.line-text::after{
    content: '';
    width: 15rem;
    height: 0.5rem;
    background-color: yellowgreen;
    position: absolute;
    top: 42px;
    right: 326px;
} */