#p{
    color: cornflowerblue;
}

#h1{
    background-color: green;
    color: white;
   width: fit-content;
   margin:auto ;
   padding: 5px 20px;
   

}
#p3{
    background-color: yellow;
    color: cornflowerblue;
}
