* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #fff;
    background-color: #3A8535;
    text-align: center;
    width: 600px;
    margin: 20px auto;
    padding: 4px 0px;
}

div.area-content {
    margin: 40px 20px;
    text-align: justify;
    font-size: 20px;
}

p.content {
    color: #3386FF;
    margin-bottom: 8px;
}

p#pcontent {
    background-color: yellow;
    font-weight: bold;
}

body {
    background: url('../images/gradient_bg_vertical.png') repeat-y;
}