*{
    margin: 0px;
    padding: 0px;
}  

.box{ 
    border: 1px solid red;
    width: 480px;
    height: 55px;
    margin: 50px auto;
}
.block{
    border: 5px solid green;
    color: black;
    width: 460px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
}