*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 609px;
    height: 75px;
    margin: 20px auto;
    border: 1px solid red;  
}

.content{
    border: 3px solid #16d418; 
    width: 600px;
    height: 65px;
    margin: 2px;
    font-weight: bold;
    line-height: 65px;
    text-align: center;
    font-size: 30px;
}