*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.box-big{
    background-color: green;
    width: 15rem;
    height: 10rem;
    font-size: 2rem;
    text-align: center;
    line-height: 10rem;
    position: fixed;
}

 .box-tl{
    top: 0px;
    left: 0px;
 }
 .box-tc{
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
 }
 .box-tr{
    top: 0px;
    right: 0px;
 }
 .box-rc{
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
 }
 .box-br{
    bottom: 0px;
    right: 0px;
 }
 .box-bc{
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
 }
 .box-bl{
    bottom: 0px;
    left: 0px;
 }
 .box-lc{
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
 }

 .box-cc{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .small-box{
   background-color: red;
   width: 5rem;
   height: 5rem;
   line-height: 5rem;
   position: absolute;
   
 }

 .box-ctl{
   top: 0px;
   left: 0px;
   transform: translate(-100%, -100%);
 }

 .box-ctr{
   top: 0px;
   right: 0px;
   transform: translate(100%, -100%);
 }

 .box-cbl{
   bottom: 0px;
   left: 0px;
   transform: translate(-100%, 100%);
 }

 .box-cbr{
   bottom: 0px;
   right: 0px;
   transform: translate(100%, 100%);
 }