html{
    font-size: 62,5%;
}

.box{
    width: 5rem;
    height:5rem;
    background-color: blueviolet;
    color: white;
    margin: 20px auto;
    text-align: center;
    line-height: 5rem;
    position: relative;
}

.box::before{
    content: '';
    width: 5rem;
    height: 5rem;
    background-color:rgb(30, 226, 128);
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -6px;
}

.box::after{
    content: '';
    width: 5rem;
    height: 5rem;
    background-color:rgb(235, 108, 146);
    position: absolute;
    z-index: -3;
    right: -14px;
    bottom: -6px;
}