*{
    box-sizing: border-box;
}
.body{
    font-size: 6.25%;
}
.box-big{
    width: 10rem;
    height: 8rem;
    color: white;
    background-color: green;
    text-align: center;
    line-height: 8rem;
    position: fixed;
}
.box-tl{
    top: 0rem;
    left: 0rem;
}
.box-tc{
    top: 0rem;
    right: 50%;  
    transform: translateX(50%);
}
.box-tr{
    top: 0rem;
    right: 0rem;
}
.box-rc{
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
}
.box-r{
    bottom: 0rem;
    right: 0rem;
}
.box-c{
    bottom: 0rem;
    right: 50%;
    transform: translateX(50%);
}
.box-l{
    left: 0rem;
    bottom: 0rem;
}
.box-cc{
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
.box-lc{
    top: 50%;
    left: 0rem;
    transform: translateY(-50%);
}
.boxmall{
    width: 5rem;
    height: 4rem;
    background-color: blue;
    color: white;
    font-size: 1rem;
    text-align: center;
    line-height: 4rem;
}
.boxmall-ctl{
    position: absolute;
    top: 0rem;
    left: 0rem;
    transform: translate(-100%, -100%);
}
.boxmall-ctr{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    transform: translate(-100%, 100%);
}
.boxmall-cbl{
    position: absolute;
    right: 0rem;
    top: 0rem;
    transform: translate(100%, -100%);
}
.boxmall-cbr{
    bottom: 0rem;
    right: 0rem;
    position: absolute;
    transform: translate(100%, 100%);
}