html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.wrapper {
    width: 622px;
    height: 118px;
    background-color: #d8ec66;
    border-radius: 10px;
    margin: 40px auto;
    position: relative;
}

.left {
    width: 102px;
    height: 102px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 210px;
}
.right {
    width: 102px;
    height: 102px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 190px;
}

/* .fa-facebook-f{
    width: 102px;
    height: 102px;
    font-size: 70px;
    color: blue;
    margin-top: 15px;
    margin-left: 29px;
}
.fbr{
    width: 102px;
    height: 102px;
    font-size: 70px;
    color: white;
    margin-top: 15px;
    margin-left: 29px;
} */

/* .box {
    width: 30rem;
    background-color: #d8ec66;
    margin: 0 auto;
    text-align: center;
}

.box-icon {
    margin: 2rem 0.5rem;
    width: 10rem;
    height: 10rem;
    background-color: red;
    border-radius: 50%;
    font-size: 5rem;
    text-align: center;
    line-height: 10rem;
    display: inline-block;
}

.white {
    background-color: white;
    color: blue;
}

.blue {
    background-color: blue;
    color: white;
} */
