* {
    box-sizing: border-box;
}

body{
    position: relative;
}

.tr{
    float: right;
    margin-right: 10px;
}

.input .fas{
    line-height: 45px;
    font-size: 15px; 
}

.gg{
    width: 500px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    position: absolute;
    left: 50%;
    font-family: Josefin_Sans;
    src: url(/b02/c03/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
    transform: translateX(-50%);
    margin-top: 30px;
    line-height: 280px;
    

}
.blue{
    color: #4284f7;
}
.red{
    color:#ef4239;
}
.yellow{
    color:#FFBD08;
}
.green{
    color: #31ab52;
}

.input{
    width: 600px;
    height: 45px;
    border: thin solid gainsboro;
    border-radius: 25px;    
    position:  absolute;
    left: 50%;
    top: 260px;
    transform: translateX(-50%);
}
.fa-th{
    font-size: 20px;
    transform: translateY(10%);
}
.fa-user-circle{
    font-size: 35px;
    transform: translateY(20%);
    padding-left: 10px;
}
.fa-share-alt{
    color:#3366ff;
    font-size: 30px;
    position: absolute;
    right: 0px;
    bottom: -10px;
}
.fa-microphone{
    position: absolute;
    right: 20px;
}
.fa-keyboard{
    position: absolute;
    right: 50px;
}
.fa-search{
    position: absolute;
    left: 20px;
}
#div1{
    height: 35px;
    width: 150px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    right: 50%;
    margin-top: 330px;
    transform: translateX(-25%);
    background-color: #f8f9fa;
}
#div2{
    
    height: 35px;
    width: 210px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-top: 330px;
    transform: translateX(-10%);
    background-color: #f8f9fa;
}

#div3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 400px;
    
}
.over{
    height: 40px;
    width: 100%;
    border: 1px solid gainsboro;
    position: absolute;
    top:545px;
    background-color: #f2f2f2;
    line-height: 40px;
    padding-left: 20px;
    color: #70757a;
}    

.under{
    height: 40px;
    width: 100%;
    position: absolute;
    top:585px;
    background-color: #f2f2f2;
    line-height: 40px;
    color: #70757a;
}
#ud1{  
    position: absolute;
    left: 20px;
}
#ud2{ 
    position: absolute;
    left: 120px;
}
#ud3{  
    position: absolute;
    left: 240px;  
}
#ud4{
    position: absolute;
    left: 330px;  
}
#ud5{
    position: absolute;
    right: 200px;  
}
#ud6{
    position: absolute;
    right: 100px;  
}
#ud7{
    position: absolute;
    right: 30px; 
}
.sp{
    color: #534ac0;
}
@font-face{
    font-family: Josefin_Sans;
    src: url(/b02/c03/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}