html{
    font-size: 62,5%;
}

body{
    box-sizing: border-box;
}

.hover{
    width: 200px;
    height: 70px;
    display: block;
    margin: 20px auto;
    background-color: rgb(104, 238, 64);
    text-align: center;
    line-height: 70px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-radius: 20px;

    /*START----- HOVER LEFT TO RIGHT*/
    background: linear-gradient(to left, rgb(104, 238, 64) 50%, rgb(9, 5, 216) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    /*END ---- HOVER LEFT TO RIGHT*/
}

.hover:hover{
    background-position: left;
}