*{
    box-sizing: border-box;
}
.body{
    font-size: 62.5%;
}
.box{
    width: 40rem;
    height: 40rem;
    color: white;
    background-color: tomato;
    text-align: center;
    line-height: 40rem;
    margin: 2rem auto;
    position: relative;
    font-size: xx-large;
    
}
.box::before{
    content: '';
    width: 30rem;
    height: 30rem;
    background-color: teal;
    position: absolute;
    z-index: -1;
    top:-1rem;
    left: -1rem;
}
.box::after{
    content: '';
    width: 30rem;
    height: 30rem;
    background-color: turquoise;
    position: absolute;
    z-index: -1;
    bottom: -1rem;
    right:-1rem;
}