html{
    font-size: 62,5%;
}

body{
    box-sizing: border-box;
}

.slider{
    width: 100%;
    height: 500px;
    position: relative;
}
.slider img{
    width: 100%;
    height: 400px;
}

.content{
    width: 450px;
    height: 125px;
    position: absolute;
    top: 150px;
    left: 177px;
    color: white;
}

.content h1{
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.content .description{
    position: absolute;
    top: 40px;
    left: 0px;
}
.content .register{
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100px;
    height: 20px;
    border: 3px solid #fff;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.fa-angle-left{
    position: absolute;
    top: 0px;
    left: -156px;
}
.fa-angle-right{
    position: absolute;
    top: 0px;
    right: -890px;
}

.step{
    position: absolute;
    top: 220px;
    right: -197px;
}
.step .fa-circle.active{
    color: yellow;
}