.main{
    width: 920px;
    height: 336px;
    background-image: url("/c02/images/background.jpg");
    background-repeat: repeat-y;
    margin: 20px auto;
    border: 1px solid black;  
}
.title{
    background-color: #3b8536;
    width: 669px;
    margin: 20px auto;
    color: white;
    text-align: center;
}
.content{
    color: #8a84ff;
    margin-top: 40px;
    font: 18px Arial, sans-serif;
    margin-left: 23px;
}
.content_02{
    color: #8a84ff;
    margin-top: 10px;
    font: 18px Arial, sans-serif;
    margin-left: 23px;
}
.content_03{
    background-color: yellow;
    color: #8a84ff;
    margin-top: 10px;
    font: 18px Arial, sans-serif;
    margin-left: 23px;
    font-weight: bold;
    width: 816px;
    padding: 2px;
}
