* {
    margin: 0px;
    padding: 0px;
}

div.area-box {
    border: 2px solid #ef7171;
    width: 600px;
    margin: 30px auto;
}

h1 {
    border: 5px solid #17d41b;
    margin: 2px;
    padding: 10px;
}
