* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.box-big {
    background-color: #87e713;
    width: 10rem;
    height: 5rem;
    font-size: 1rem;
    text-align: center;
    line-height: 5rem;
    position: fixed;
    color: black;
}

.box-tc {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.box-tr {
    top: 0;
    right: 0;
}

.box-rc {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}

.box-br {
    bottom: 0;
    right: 0;
}

.box-bc {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

.box-bl {
    bottom: 0;
    left: 0;
}

.box-lc {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.box-cc {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
    
.box-small {
    position: absolute;
    width: 5rem;
    height: 3rem;
    background-color: #fe0000;
    line-height: 3rem;
    
}

.box-ctl{
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
}

.box-ctr{
    top: 0;
    right: 0;
    transform: translate(100%,-100%);
}

.box-cbr{
    bottom: 0;
    right: 0;
    transform: translate(100%,100%);
}
.box-cbl{
    bottom: 0;
    left: 0;
    transform: translate(-100%,100%);
}   