

body{
    background: url(../images/background01.png) top left repeat-y;
}

.block{
    width: 1000px;
    margin: 0px auto;
}
.p1{
    width: 600px;
    background-color: #3a8435;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 0px auto;
}

.p2,
.p3{
    color: blue;
}

.p4{
    background-color: #ffff00;
}