*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 650px;
    height: 200px;
    background-image: url(/b01/c02/images/background.PNG);
    background-position: left;
    background-repeat: repeat-y;
    margin: 0px auto;
    padding-top: 10px;

}
.block1{
    text-align: center;
    color: white;
    border: 1px solid;
    background-color: #3a8435;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-weight: bolder;
    margin: 0px auto;
}
.block2{
    color: #369ab4;
    background-color: yellow;
    font-weight: bolder; 
    background-clip: content-box;
}
p{
    color: #369ab4;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    font-size: 16px;
}

