* {
    margin: 0px;
    padding: 0px;
}

div.box {
    margin: 30px auto;
    background-color: #484463;
    width: 300px;
    height: 300px;
    position: relative;
    font-size: 30px;
    line-height: 300px;
    text-align: center;
    font-weight: bold;
    color: #f9f9fb;
}

div.box::before {
    background-color: #f6f7ad;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -10px;
    left: -10px;
    content: '';
    z-index: -1;
}

div.box::after {
    background-color: #9ee6c8;
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    content: '';
    z-index: -1;
}