html{
    font-size: 62,5%;
}

.box{
    width: 12rem;
    height:8rem;
    background-color: #527707;
    color: white;
    position: fixed;
    text-align: center;
    line-height: 8rem;
}

.top-right{
    top: 0px;
    right: 0px;
}
.top-center{
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.top-left{
    top: 0px;
    left: 0px;
}
.right-center{
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.left-center{
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
.bottom-left{
    bottom: 0px;
    left: 0px;
}
.bottom-right{
    bottom: 0px;
    right: 0px;
}
.bottom-center{
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.center-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-small{
    width: 5rem;
    height: 2rem;
    background-color:red;
    position: absolute;
    line-height: 2rem;
}

.ctl{
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
}
.ctr{
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
}
.cbl{
    bottom: 0;
    left: 0;
    transform: translate(-100%, 100%);
}
.cbr{
    bottom: 0;
    right: 0;
    transform: translate(100%, 100%);
}